//Use the params to define reference files, directories, and CLI options
params {

    // Directories
    outdir = "$projectDir/results/"


}

profiles {
    conda {
        conda.enabled = true
    }

    local {
        process.executor = 'local'
    }

}

//Miscellaneous CLI flags
resume = true
process.debug = true